@font-face {
  font-family: 'Bau';
  src: url('../TCA_Fonts/Bau-Medium.woff2') format('woff2'),
        url('../TCA_Fonts/Bau-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tw Cen MT';
  src: url('../TCA_Fonts/TwCenMT-Regular.woff2') format('woff2'),
        url('../TCA_Fonts/TwCenMT-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuperGroteskA';
    src: url('../TCA_Fonts/SuperGroteskA-Rg.woff2') format('woff2'),
        url('../TCA_Fonts/SuperGroteskA-Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SuperGroteskA';
    src: url('../TCA_Fonts/SuperGroteskA-Bd.woff2') format('woff2'),
        url('../TCA_Fonts/SuperGroteskA-Bd.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
  font-family: 'SuperGroteskA';
    src: url('../TCA_Fonts/SuperGroteskA-Med.woff2') format('woff2'),
        url('../TCA_Fonts/SuperGroteskA-Med.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
  font-family: 'Aktifo-B';
  src: url('../TCA_Fonts/Aktifo-B-Medium.woff2') format('woff2'),
        url('../TCA_Fonts/Aktifo-B-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aktifo-B';
  src: url('../TCA_Fonts/Aktifo-B-SemiBold.woff2') format('woff2'),
      url('../TCA_Fonts/Aktifo-B-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}



* {
    box-sizing: border-box;
  }

body {
  font-size: 100%;
  background: black;
  color: white;
  font-family: 'Aktifo-B';
  font-weight: 500;
  font-size: 20px;
  font-variant-numeric: oldstyle-nums;

}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

header {
  position: relative;
  z-index: 2;}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: static;
}

header nav a {
  text-decoration: none;
  color: white;
}

/* Snap Scroll */

.parent {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: scroll;
  margin-top: -62px;
}

/* Section 1 - Video */

.full-screen-video {
  scroll-snap-align: start;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.full-screen-video video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0;
  top: 0;
}

.full-screen-video picture {
  width: 50%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 25%;

  animation:signup-response 0.5s 1;
  -webkit-animation:signup-response 0.5s 1;
  animation-fill-mode: forwards;

  animation-delay:7s;
  -webkit-animation-delay:1s; /* Safari and Chrome */
  -webkit-animation-fill-mode: forwards;

} 

@keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

@-webkit-keyframes signup-response{
  from {opacity :1;}
  to {opacity :0;}
}

/* Section 2 - Logo */

.half-screen-logo {
  scroll-snap-align: start;
  display: flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}

.half-screen-logo picture {
  width: 50%;
  display: block;
}

/* Section 2 - Images */

.image-set {
  position: static;
  height: 100vh;
  background: black;
}

.car-images {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  background: black;
  padding: 0 5px;
}

.car-images picture {
  flex-basis: 25%;
  display: flex;
  position: relative;
  padding: 5px;
  height: calc(50vh - 10px);
  overflow: hidden;
  scroll-snap-align: start;
  background: black;
}

.car-images picture img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.car-images picture:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff00;
}

.text {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.text h3 {
  font-family: 'Aktifo-B';
  font-weight: 600;
  font-size: 5vw;
  margin: 0;
  padding-top: 4%;
  border-radius: 49%;
  border: 0.7vw solid white;
  width: 86%;
  margin-top: 10%;
}

.text h4 {
  margin: 0;
  font-weight: normal;
}

.text p {
  margin: 0;
}

.about {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 50vh;
  overflow: scroll;
  justify-content: space-between;
}

.about div:first-child {
  display: flex;
  padding: 20px 0 20px 0;
}

.about .about-p {
  flex-basis: 50%;
}

.about .contact {
  display: flex;
}

.about h2 { 

  display: block;
  flex-basis: 25%;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}


.about p {
  margin-top: 0;
}

.about .contact  dd{
  margin: 0;
  margin-bottom: 20px;
}

.about .contact dl {
  margin: 0;
  flex-basis: 35%;
}

.about a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {

  .parent {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: y proximity;
  }

  .full-screen-video picture {
    width: 80%;
    top: 30%;
    left: 10%;
  }
  
  .half-screen-logo picture {
    width: 75%;
  }


  .car-images picture {
    flex-basis: 50%;
  }

  .image-set {
    height: 200vh;
  }

  .text h3 {
  font-size: 10vw;
  border: 1.2vw solid white;
  }

  .about .about-p {
    flex-basis: 75%; 
  }

  .car-images {
    height: 100vh;
  }

  .overlay {
    opacity: 1;
  }

  .about dl {
    margin: 0;
    flex-basis: 50%;
    margin-bottom: 20px;
  }

  .about .contact {
    flex-wrap: wrap;
  }

  .about .contact dl:nth-of-type(2) {
    margin-left: 25%;
  }
}

@media screen and (max-width: 500px) {

  .parent {
    -webkit-overflow-scrolling: auto;
    scroll-snap-type: y mandatory;
    }


  .full-screen-video picture {
    width: 80%;
    top: 30%;
    left: 10%;
  }

  .half-screen-logo picture {
    width: 90%;
    padding-top: 10%;
    display: block;
  }

  .text {
    justify-content: center;
  }

  .text h3 {
    font-size: 18vw;
    border: 2.5vw solid white;
    width: 78%;
    margin-bottom: 5%;
    margin-top: -20%;
  }

  .car-images picture {
    flex-basis: 100%;
    padding: 0;
  }

  .image-set {
    height: 800vh;
  }

  .car-images {
    height: 400vh;
    padding-right: 0px;
    padding-left: 0px;

  }

  .car-images picture {
    height: 100vh;
  }

  .about {
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    background-color: black;
    z-index: 4;
    scroll-snap-align: start;
    flex-direction: column;
    justify-content:flex-start;
    
  }

  .about h2 {
    font-weight: 500;
    margin-bottom: 20px;
    flex-basis: 0;
  }

  .about div:first-child {
    flex-direction: column;
    justify-content: center;
  }

  .about .about-p {
    flex-basis: 0; 
  }

  .about .contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .about .contact dl {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .about .contact dl:nth-of-type(2) {
    margin: 0;
    padding-bottom: 100px;
  }

  .about .contact h2 {
    display: none;
  }

}